src/main/mule/implementation/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="RAWG-SAPI-GET-GAMES" doc:id="e00a8a4b-ac38-47b9-a060-94d648b49086" >
		<set-variable value="${secure::rawg.key}" doc:name="key" doc:id="bc862b52-7ee0-4c21-8f55-eb0ea0bad1fd" variableName="key"/>
		<http:request method="GET" doc:name="GET /games" doc:id="6760099b-b9db-49e4-a148-a97f4fcc9cea" config-ref="HTTP_Request_configuration" path="/games">
			<http:query-params ><![CDATA[#[attributes.queryParams ++ {"key": vars.key}]]]></http:query-params>
		</http:request>
		
	</flow>
</mule>
